<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyspankki</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Kysymyspankki</h1>

        <p>Kysymykset</p>

        <ul>
            <li th:each="kysymys : ${kysymykset}">
                <a th:href="@{~/kysymys/{id}(id=${kysymys.id})}">
                    <span th:text="${kysymys.teksti}">
                    </span>
                </a>
                <br/>
                Kurssi:
                <span th:text="${kysymys.kurssi}">                       
                </span>
                <br/>
                Aihe:
                <span th:text="${kysymys.aihe}">
                </span>
                <br/>


                <br/><form th:action="@{~/delete/kysymys/{id}(id=${kysymys.id})}" method="POST">
                    <input type="submit" value="Poista"/><br/>
                </form>
                <br/>
            </li>
        </ul>

        <h2>Lis&auml;&auml; uusi kysymys</h2>

        <form method="POST" action="/kysymykset">
            <br/>Kurssi: <input type="text" name="kurssi"/><br/>
            <br/> Aihe: <input type="text" name="aihe"/><br/>
            <br/>Teksti: <input type="text" name="teksti"/><br/>            
            <br/><input type="submit" value="Lis&auml;&auml; kysymys!"/>
            <br/></form>
    </body>
</html>
